$white: #FFFFFF;
$black: #000000;
$title: #070707;
$gray: #828282;
$gray-container: #F6F6F6;

$c-size: 1.8rem;
$t-size: 3.4rem;

$tf-family: Gilroy-Bold;
$cf-family: Gilroy-Medium;

$z-index-header: 1000;

$table-madia: 991px;
$mobile-madia: 575px;